* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(/static/img/high-speed-railway-commuter-train.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbr {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: absolute;
}

.navbr ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbr ul li.right {
    margin-left: 980px; /* Push the right links to the end */
}
.navbr ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
  
}

.navbr ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}


.navbr ul li:hover::after {
    width: 100%;
    
  
}
.navbr ul li a.active{
   text-decoration: underline;
   text-decoration-color: #009688;
   text-decoration-thickness: 3px;
   text-underline-offset: 10px;    
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
    padding-top: 80px; 
}

.wrapper{
    width:500px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0, 0,0,.2);
    color:grey;
    border-radius: 10px;
    padding: 20px 20px;

}
.wrapper h1{
    margin-top:8px;
    font-size: 36px;
    text-align: center;
}

.input-box input{
    width:80%;
    height: 40%;
    background: transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color:grey;
    padding: 20px 45px 20px 45px;

}
.input-box input::placeholder{
    color:grey;
    font-size:15px;

}

.input-box i{
    position:relative;
    bottom:32px;
    right:40px;
    left:450px;
    top:50%;
    transform:translateY(-50%);
    font-size:20px;
}

.wrapper .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
margin-top:-15px 0 15 px;

    

}
.remember-forgot input{
margin-top:-10px;

}
.remember-forgot label input{    
accent-color: grey;
    margin-right:3px;
margin-bottom:10px;



}

.remember-forgot a{
    color:grey;
    text-decoration: none;
margin-bottom:10px;


}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width:100%;
    height:45px;
    background: white;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color:grey;
    font-weight: 600;


}

.wrapper .register-link{
    font-size:14.5px;
    text-align: center;
    margin:10px 0 15px;

}

.register-link p a{
    color:grey;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover{
    text-decoration: underline;
}