body{

    display:flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       background: url('https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg') no-repeat;
       background-size: cover;
       background-position: center;
       margin:0;
       padding:0;
       font-family: Arial, sans-serif;
       overflow:hidden;
       
}

.wrapper{
    width:500px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0, 0,0,.2);
    color:grey;
    border-radius: 10px;
    padding: 20px 20px;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
position:relative;
    
    width: 80%;
    height: 70px;
   margin: 10px 0;
}

.input-box input{
    width:100%;
    height:40%;
    background: transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color:grey;
    padding: 20px 45px 20px 45px;
}
.input-box input::placeholder{
    color:grey;
    font-size:15px
}
.input-box i{
    position:absolute;
    right:1px;
left:450px;
    top:50%;
    transform:translateY(-50%);
    font-size:20px;

}

.wrapper .remember-forgot{
    display:flex;
    justify-content:space-between;
    font-size:14.5px;
margin-top:-15px 0 15 px;

    

}
.remember-forgot input{
margin-top:-10px;

}
.remember-forgot label input{    
accent-color: grey;
    margin-right:3px;
margin-bottom:10px;



}

.remember-forgot a{
    color:grey;
    text-decoration: none;
margin-bottom:10px;


}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width:100%;
    height:45px;
    background: white;
    border:none;
    outline:none;
    border-radius:40px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color:grey;
    font-weight: 600;


}

.wrapper .register-link{
    font-size:14.5px;
    text-align: center;
    margin:10px 0 15px;

}

.register-link p a{
    color:grey;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover{
    text-decoration: underline;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: absolute;
    top:  0;
    left:0;
    
    font-family: Arial, sans-serif;
    width:100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}
nav a.active{
   background-color: #444;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.right {
    margin-left:auto;
}
 #sign-up,#home,#about,#contact {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

 #sign-up:hover,#home:hover,#about:hover,#contact:hover {
    background-color: #444;
}
