* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-y: hidden;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(/static/img/high-speed-railway-commuter-train.png);
    background-size: cover;
    background-position: center;
}

.navbr {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.navbr ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbr ul li.right {
    margin-left: 980px; /* Push the right links to the end */
}

.navbr ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
  
}

.navbr ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}




.navbr ul li:hover::after {
    width: 100%;
}

.navbr ul li a.active{
   text-decoration: underline;
   text-decoration-color: #009688;
   text-decoration-thickness: 3px;
   text-underline-offset: 10px;
   
   
    
    
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

/*Card Effect*/

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-right: 2rem;
}

.card:hover {
    transform: scale(1.1); /* Enlarge the card when hovered */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.card:hover .card-image {
    transform: scale(1.2); /* Slightly zoom in the image on hover */
}

.card-info {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
}


.box {
	width: 200px;
	height: 250px;
	margin: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: inline-block;
}

.box + .box {
	margin-left: 40px;
}

.box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.name-box {
	background-color: #f7f7f7;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.name {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}