<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/home_styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/chatbot_styles.css')}}">
</head>
<body>
        <div class="banner">
            <header class="navbr">
                <nav>
                    <ul>
                        <li><a href="{{url_for('index')}}" class="active" id="home">Home</a></li>
                        <li><a href="#" id="about">About</a></li>
                        <li><a href="{{url_for('about')}}" id="contact">Contact</a></li>
                        <li class="right">
                            <li ><a href="{{url_for('login')}}" id="sign-in">Sign In</a></li>
                            <li ><a href="{{url_for('register')}}" id="sign-up">Sign Up</a></li>
                        </li>
                    </ul>
                </nav>
            </header>   
    
            <div class="content">
                    <h2>Public Transportation Guide</h2>
                <div>
                    <button type="button" class="ap"><span></span>Click Me</button>
                </div>
            </div>
        </div>

    <!-- Chat container -->
    <div class="chat-container" id="chatContainer">
        <div class="messages" id="messages">
            {% if response %}
            <div class="message bot-message">
                <p>{{ response }}</p>
            </div>
            {% endif %}
        </div>
        <div class="input-area">
            <input type="text" id="queryInput" class="input-field" placeholder="Type your message..." required>
            <button type="submit" class="send-btn" id="sendBtn">Send</button>
        </div>
        <div class="flex justify-end p-2">
            <button class="close-btn" id="closeChatBtn">Close</button>
            <button class="clear-btn" id="clearMessagesBtn">Clear Conversation</button>
        </div>
    </div>

    <!-- Fixed button to show the chat -->
    <button type="button" class="show-btn rounded-full" id="showChatBtn"></button>

    <script src="/static/js/chatbot.js"></script>
</body>
</html>
