<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <title>login form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap-alerts.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lstyle.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>    
</head>

<body>
    <div class="banner">
        <header class="navbr">
            <nav>
                <ul>
                    <li><a href="{{url_for('index')}}" id="home">Home</a></li>
                    <li><a href="#" id="about">About</a></li>
                    <li><a href="{{ url_for('about') }}" id="contact">Contact</a></li>
                    <li class="right">
                        <li><a href="{{url_for('login')}}" id="sign-in">Sign In</a></li>
                        <li><a href="{{url_for('register')}}" id="sign-up">Sign Up</a></li>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="center-container">
            <div class="wrapper">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% endwith %}
        
                <form action="{{url_for('login')}}" method="POST">
                    {{ form.hidden_tag() }}
                    <h1>Login</h1>
                    <div class="input-box">
                        {{ form.username.label(for='Username') }}
                        {{ form.username() }}
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="input-box">
                        {{ form.password.label(for='Username') }}
                        {{ form.password(type="password") }}
                        <i class='bx bxs-lock'></i>
                    </div>
                    <div class="remember-forgot">
                        <a href="{{url_for('register')}}">Forgot Password?</a>
                    </div>
                    {{ form.submit(class='btn') }}
                    <div class="register-link">
                        <p>Don't have an account?
                            <a href="{{url_for('register')}}">Register Now</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        
    
    </div>

    <script src="/static/js/active_header.js"></script>
</body>
</html>