
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rstle.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}" id="home">Home</a></li>
                <li><a href="#" id="about">About</a></li>
                <li><a href="{{url_for('about')}}" id="contact">Contact</a></li>
                <li class="right">
                    <a href="{{ url_for('login') }}" id="sign-in">Sign In</a>
                    <a href="{{url_for('register')}}" class="active" id="sign-up">Sign Up</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <form action="/register" method="POST">
            {{ form.hidden_tag() }}
            <h1>Sign Up</h1>
            <div class="input-box">
                {{form.username.label(for='Username')}}
                {{form.username()}}
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                {{form.email.label(for='Email')}}
                {{form.email()}}
                <i class='bx bxl-gmail' ></i>
            </div>
            <div class="input-box">
                {{form.password.label(for='Password')}}
                {{form.password()}}
               <i class='bx bxs-lock'></i>
            </div>
            {{form.submit(class='btn')}}
        </form>
    <div>
    
    
</body>
</html>