<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/statstyles.css')}}">
    <!-- Include Chart.js for data visualization -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/statistics.js') }}"></script>
</head>
<body>
    <div class="banner">
        <header class="navbr">
            <nav>
                <ul>
                    <li><a href="{{url_for('dashboard')}}" id="home">Home</a></li>
                    <li><a href="{{url_for('statistics')}}" id="statistics">Statistics</a></li>

                    <li class="right">
                        <li ><a href="{{url_for('logout')}}" id="sign-up">Log Out</a></li>
                    </li>
                </ul>
            </nav>
        </header>   

        <div class="content">
                <h2 class="heading">Statistics</h2>

                <div class="metrics">
                    <div class="metric-box" id="totalTrips">
                        <h2>Total Trips</h2>
                        <p>0</p> <!-- This will be updated dynamically -->
                    </div>
                    <div class="metric-box" id="totalDistance">
                        <h2>Total Distance (km)</h2>
                        <p>0</p> <!-- This will be updated dynamically -->
                    </div>
                    <div class="metric-box" id="averageDistance">
                        <h2>Average Distance (km)</h2>
                        <p>0</p> <!-- This will be updated dynamically -->
                    </div>

                    <div class="metric-box" id="carbonFootprintComparison">
                        <h2>Carbon Footprint Comparison</h2>
                        <p>0</p>
                        <canvas id="carbonFootprintChart" width="400" height="200"></canvas>
                    </div>

                    <div class="metric-box top-locations" id="topLocations">
                        <h2>Top 5 Most Frequently Visited Locations</h2>
                        <ul id="locationList">
                        </ul>
                    </div>
                </div>

                
                
        </div>
    </div>

    <script src="{{url_for('static', filename='/js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/active_header.js')}}"></script>
</body>
</html>